[user]
name = Tyler Hunt
email = tyler@tylerhunt.com
signingkey = ACAA8C6F2C0AA4C5

[apply]
whitespace = warn

[color]
branch = auto
diff = auto
interactive = auto
showbranch = always
status = auto

[alias]
st = status
stat = status
ci = commit
co = checkout
headless = !sh -c 'git symbolic-ref HEAD refs/heads/$0 && rm .git/index && git clean -fdx'
standup = log --since yesterday --author="tylerhunt" --pretty=oneline
conflicts = diff --name-only --diff-filter=U --relative

[pull]
#rebase = true

[push]
default = current

[stash]
showPatch = true

[core]
excludesfile = /Users/thunt/.gitignore

[commit]
gpgsign = true

[tag]
gpgsign = true

[init]
defaultBranch = master

[credential "https://github.com"]
useHttpPath = true
