/* Print */

/*
@media print {
  a[href]:after {
    content: ' <' attr(href) '>';
    text-decoration: none !important;
  }
}
*/

/* Demiplane */

.builder-filter-container,
.drawer-content-container {
  padding-bottom: 10rem !important;
}
